<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyC98cYeTLWwXR4a2HcKXphfO64SWoHoc6s</string>
	<key>GCM_SENDER_ID</key>
	<string>400423059749</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.youngBoyToyz</string>
	<key>PROJECT_ID</key>
	<string>ybt-mobile-app</string>
	<key>STORAGE_BUCKET</key>
	<string>ybt-mobile-app.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:400423059749:ios:fa4c56cead4b4defaf9acc</string>
</dict>
</plist>